.messageInput {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 auto;
}

.messageField {
	flex-basis: 80%;
	margin-bottom: 0;
}

.messageSend {
	flex-basis: 20%;
}